.feed-item {
  width: 690px;
  padding: 30px 30px 20px;
  background: #ffffff;
  .feed-source{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eee;
    flex-direction: column;
    .feed-title{
      font-size: 30px;
      font-weight: bold;
    }
    .feed-info{
      font-size: 10px;
      color: #777;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .media-count{
        display: flex;
        flex-direction: row;
      }
      .comment-count{
        margin-left: 30px;
      }
      .feed-img{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .item-more{
          display: inline-block;
          width: 40px;
          height: 45px;
          text-align: right;
        }
      }
    }
  }
}
