.search{
  height: 70px;
  padding: 12.5px 0 12.5px 15px;
  background: red;
  display: flex;
  justify-content: space-around;
  .search-left{
    color: #fff;
    font-weight: bold;
  }
  .search-right {
    height: 65px;
    width: 300px;
    background: white;
    text-align: left;
    display: flex;
    border-radius: 10px;
    image,img {
      display: inline-block;
      width: 35px;
      height: 35px;
      padding: 15px 15px 15px 20px;
    }
    .search-placeholder{
      background: white;
      color: #5b5b5b;
      text-align: center;
    }
    .flex1{
      flex-grow: 1;
      text-align: left;
    }
    .flex6{
      flex-grow: 6;
      text-align: left;
    }
    input {
      height: 65px;
      font-size: 26px;
    }
  }
}

.search-placeholder {
  color: #8CCEFD;
  line-height: 20px;
}
